#!/bin/bash

# navigation shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# cat -> bat (syntax maps in ~/.config/bat/config)
alias cat="bat"

# ls -> exa
alias ll='exa -l --group-directories-first --git-ignore --git --sort ext --color=always'
alias lll='ll | less -RX'
alias la='exa -a --group-directories-first'
alias l='exa --group-directories-first'
#alias ll='ls -Alh --group-directories-first --ignore=lost+found'
#alias la='ls -A --group-directories-first --ignore=lost+found'
#alias l='ls -C --group-directories-first --ignore=lost+found'

# make rg look like ag
alias rg="rg --colors 'match:bg:yellow' --colors 'match:fg:black' --colors 'match:style:nobold' --colors 'line:style:bold' --colors 'path:fg:green' --glob=!.git/"

# common pipe aliases
alias A="awk"
alias WC="wc -l"
alias G="grep"
alias XG="xargs grep"
alias L="less"
alias H='head -n "$(($LINES-5))"'
alias T='tail -n "$(($LINES-5))"'

if [[ "${OSTYPE}" =~ "darwin" ]]; then
  alias XC="pbcopy"
  alias xdg-open="open"
else
  alias XC="xclip -i -sel c"
fi

# misc
alias cwd='pwd | tr -d "\r\n" | xclip -sel clip'
alias week='date +%V'
alias ymd='date +%Y-%m-%d'
alias grep='grep --color=auto'
alias pacman='pacman --color=auto'
alias diff='diff -Naur --color=auto'

# docker
alias d="docker"
alias dps="docker ps"
alias dpsa="docker ps -a"
alias di="docker images"
alias dia="docker images -a"
alias dr="docker run"
alias dp="docker pull"
alias dr="docker restart"
alias drm="docker rm"
alias drmi="docker rmi"
alias db="docker build"
alias de="docker exec"

# cargo
alias c="cargo"
alias cb="cargo build"
alias cbr="cargo build --release"
alias cbrm="cargo build --release --target=x86_64-unknown-linux-musl"
alias ct="cargo test"
alias ccln="cargo clean" # avoid conflict with cc :)

# rsync
alias rsync-copy="rsync -avz --progress -h"
alias rsync-move="rsync -avz --progress -h --remove-source-files"
alias rsync-update="rsync -avzu --progress -h"
alias rsync-synchronize="rsync -avzu --delete --progress -h"

# node dev aliases for personal modules
alias bndgf='./node_modules/.bin/bndg test/*.test.js | faucet'
alias bndg='./node_modules/.bin/bndg test/*.test.js'
alias cover='npm run coverage'
