#!/bin/bash

# navigation shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# ls -> exa
alias ll='exa -l --group-directories-first --git-ignore --git'
alias la='exa -a --group-directories-first'
alias l='exa --group-directories-first'
#alias ll='ls -Alh --group-directories-first --ignore=lost+found'
#alias la='ls -A --group-directories-first --ignore=lost+found'
#alias l='ls -C --group-directories-first --ignore=lost+found'

# ag muscle memory
alias rg="rg --colors 'match:bg:yellow' --colors 'match:fg:black' --colors 'match:style:nobold' --colors 'line:style:bold' --colors 'path:fg:green'"
alias ag="rg"

# common pipe aliases
alias A="awk"
alias WC="wc -l"
alias G="grep"
alias XG="xargs grep"
alias L="less"
alias H='head -n "$(($LINES-5))"'
alias T='tail -n "$(($LINES-5))"'
alias XC="xclip -i -sel c"

# misc
alias cwd='pwd | tr -d "\r\n" | xclip -sel clip'
alias week='date +%V'
alias ymd='date +%Y-%m-%d'

# git
alias g='git'
alias gs="git s"
alias gc="git c"
alias gcs="git c -S"
alias gdc="git dc"
alias gd="git d"
alias ga="git a"
alias gf="git f"
alias gp="git p"
alias gpr="git p --rebase"
alias gps="git ps"
alias gt='cd $(git rev-parse --show-toplevel)'
alias gm='git m'
alias gw='git whoami'

# kubectl
alias k="kubectl"
alias kg="kubectl get"
alias kgy="kubectl get -oyaml"
alias kd="kubectl describe"
alias kl="kubectl logs"
alias klf="kubectl logs -f"
alias kgp="kg pod"
alias kgpy="kg pod -oyaml"
alias kga="kg all"
alias kgay="kg all -oyaml"
alias kgc="kg cm"
alias kgcy="kg cm -oyaml"
alias kgd="kg deploy"
alias kgdy="kg deploy -oyaml"
alias kgr="kg rs"
alias kgry="kg rs -oyaml"
alias kgj="kg job"
alias kgjy="kg job -oyaml"
alias kgcj="kg cj"
alias kgcjy="kg cj -oyaml"
alias kgs="kg service"
alias kgsy="kg service -oyaml"
alias kgn="kg node"
alias kgny="kg node -oyaml"
alias kgsm="kg sm"
alias kgsmy="kg sm -oyaml"
alias kdn="kd node"
alias kdp="kd pod"
alias kdc="kd cm"
alias kdd="kd deploy"
alias kdr="kd rs"
alias kdj="kd job"
alias kdcj="kd cj"
alias kds="kd service"
alias kgf="kg foo" # test crd
alias kgfy="kg foo -oyaml"

# rustfmt
# rustup component add rustfmt --toolchain nightly
alias rfmt="cargo +nightly fmt"

# rsync
alias rsync-copy="rsync -avz --progress -h"
alias rsync-move="rsync -avz --progress -h --remove-source-files"
alias rsync-update="rsync -avzu --progress -h"
alias rsync-synchronize="rsync -avzu --delete --progress -h"

# node dev aliases for personal modules
alias bndgf='./node_modules/.bin/bndg test/*.test.js | faucet'
alias bndg='./node_modules/.bin/bndg test/*.test.js'
alias cover='npm run coverage'
