#!/bin/bash

export EDITOR=vim;

# Prefer GB English and use UTF-8
export LANG="en_GB.UTF-8"
export LC_ALL="en_GB.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# By default compile everything with clang
# Unless we are on a source based distro
if lsb_release -d | grep -qvi "Gentoo"; then
  export CC=clang
  export CXX=clang++
fi

# want short ctest results without having to type --output-on-failure (or -V always)
export CTEST_OUTPUT_ON_FAILURE=1
export GTEST_COLOR=1

# Always print rust backtraces
export RUST_BACKTRACE=1
# Separate source checkout for `racer`
export RUST_SRC_PATH=$HOME/.cargo/rustc-stable/src

export GOPATH=$HOME/.go

# use shellcheck for current file only
export SHELLCHECK_OPTS="-e SC1091 -e SC1090"

# Download dir for `dl` + brotorr
export DOWNLOAD_DIR=~/Downloads
if [[ $HOSTNAME = kjttks ]]; then
  export DOWNLOAD_DIR=/mnt/zeus/DL/
elif [[ $HOSTNAME = broxy ]]; then
  export DOWNLOAD_DIR=/media/dumptruck/DL
fi

# disable cowsay in ansible even though we have it installed
export ANSIBLE_NOCOWS=1

# fzf should ony show non-build files when browsing git repos
# Verify with echo $FZF_DEFAULT_COMMAND | sh | fzf
export FZF_DEFAULT_COMMAND='
  (git ls-tree -r --name-only HEAD ||
   find . -type f -print -o -type l -print |
      grep -vE "/target/|node_modules|bower_components|.git/" |
      sed s/^..//) 2> /dev/null'
