# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Don't autocomplete to things with different casing
set completion-ignore-case off
set bell-style none


# Following is a bunch of keybindings to get terminals I use kind of consistent
# These are tested in guake (w tmux given sibling .tmux.conf), urxvt, and gnome terminal

# Various forms of up down history seach
# works in tmux + gnome term + urxvt
"\e[A": history-search-backward # Up key
"\e[B": history-search-forward  # Down key.

# home + end to move caret to start or end of the line
"\e[1~": beginning-of-line      # Home Key
"\e[4~": end-of-line            # End Key
"\e[7~": beginning-of-line      # Home Key
"\e[8~": end-of-line            # End Key

# alt-left + alt-right to move between words in commands
# tmux + urxvt, but not gnome term
"\e\e[C": forward-word
"\e\e[D": backward-word


# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# Colorize tab completed elements
set colored-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
