set show-all-if-ambiguous on
set completion-ignore-case on
set bell-style none

# Following is a bunch of keybindings to get terminals I use kind of consistent
# These are tested in guake (w tmux given sibling .tmux.conf), urxvt, and gnome terminal

# Various forms of up down history seach
# works in tmux + gnome term + urxvt
"\e[A": history-search-backward # Up key
"\e[B": history-search-forward  # Down key.

# home + end to move caret to start or end of the line
"\e[1~": beginning-of-line      # Home Key
"\e[4~": end-of-line            # End Key
"\e[7~": beginning-of-line      # Home Key
"\e[8~": end-of-line            # End Key

# alt-left + alt-right to move between words in commands
# tmux + urxvt, but not gnome term
"\e\e[C": forward-word
"\e\e[D": backward-word
