#!/bin/sh

# Set keyboard layout
setxkbmap -layout us,us \
          -variant colemak,intl \
          -option caps:escape \
          -option grp:lalt_lshift_toggle

# X and URxvt stuff
#xrdb -merge ~/.Xresources

if [[ $HOSTNAME = kjttks ]]; then
  nvidia-settings -a [gpu:0]/GpuPowerMizerMode=1
fi

if [[ $HOSTNAME = cluxx1 ]]; then
  padid=$(xinput | grep "Synaptics TouchPad" | grep -oE "id=.." | cut -d"=" -f2)
  [ -n "$padid" ] && xinput set-prop "$padid" "Device Enabled" 0
fi
