#!/bin/sh

# Set keyboard layout
setxkbmap -layout us,us \
          -variant colemak,intl \
          -option caps:escape \
          -option grp:lalt_lshift_toggle

# X and URxvt stuff
xrdb -merge ~/.Xresources
# Consider running urxvtd here

if [[ $HOSTNAME = kjttks ]]; then
  nvidia-settings -a [gpu:0]/GpuPowerMizerMode=1
fi

if [[ $HOSTNAME = cluxx1 ]]; then
  xinput set-prop 10 "Device Enabled" 0
fi

# Remove maccel
xset m 0 0

# tmux and guake
tmux start-server
/usr/bin/guake &
