#!/bin/sh

# Set keyboard layout
setxkbmap -layout us,us \
          -variant colemak,intl \
          -option caps:none \
          -option compose:caps \
          -option grp:lalt_lshift_toggle

# X and URxvt stuff
xrdb -merge ~/.Xresources
# Consider running urxvtd here

if [ "$(hostname)" = "kjttks" ]; then
  nvidia-settings -a [gpu:0]/GpuPowerMizerMode=1
fi

# tmux and guake
tmux start-server
/usr/bin/guake &
