
! -----------------------------------------------------------------------------
! Xterm
! -----------------------------------------------------------------------------
xterm*termName: xterm-256color
XTerm*locale: true
Xterm*saveLines: 8000

! -----------------------------------------------------------------------------
! Font settings
! -----------------------------------------------------------------------------
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault

! -----------------------------------------------------------------------------
! Urxvt
! -----------------------------------------------------------------------------
URxvt.scrollBar:            false
URxvt.saveLines:            8000
URxvt*cursorBlink:          true
URxvt*urgentOnBell:         false

! -- Clickable links
URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         firefox
URxvt.matcher.button:       1

! -- Theme
URxvt.internalBorder:       0
URxvt.letterSpace:          -1
URxvt.font:                 xft:DejaVu Sans Mono:size=14:Regular
URxvt.boldFont:             xft:DejaVu Sans Mono:size=14:Bold
URxvt.italicFont:           xft:DejaVu Sans Mono:size=14:Italic
URxvt.boldItalicFont:       xft:DejaVu Sans Mono:size=14:Bold:Italic

! -- Transparent background
URxvt.foreground:           #FFFFFF
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0000/dddd

URxvt.color0:               #2E3436
URxvt.color1:               #CC0000
URxvt.color2:               #4E9A06
URxvt.color3:               #C4A000
URxvt.color4:               #3465A4
URxvt.color5:               #75507B
URxvt.color6:               #06989A
URxvt.color7:               #D3D7CF
URxvt.color8:               #555753
URxvt.color9:               #EF2929
URxvt.color10:              #8AE234
URxvt.color11:              #FCE94F
URxvt.color12:              #729FCF
URxvt.color13:              #AD7FA8
URxvt.color14:              #32E2E2
URxvt.color15:              #EEEEEC

! -----------------------------------------------------------------------------
! X11 ssh askpass
! -----------------------------------------------------------------------------
x11-ssh-askpass*font:                   -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
x11-ssh-askpass*background:             #000000
x11-ssh-askpass*foreground:             #ffffff
x11-ssh-askpass.Button*background:      #000000
x11-ssh-askpass.Indicator*foreground:   #ff9900
x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1
