* {
    /*all: unset;*/
    font-size: 24px;
    font-family: inconsolata nerd font;
    font-weight: bold;
}

#window {
    background: rgba(41, 42, 55, 0.8);
    background-clip: content-box;
    border: solid 4px rgba(0,0,0,0.3);
}

#outer-box {
    /*background-color: rgba(41, 42, 55, 0.3);*/
    /*box-shadow: 0 0 0 4px rgba(41, 42, 55, 0);
    background-clip: content-box;
    border: 8px solid rgba(68, 68, 101, 0.1);
    border-radius: 12px;*/
}

#input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #303241;
}

#entry {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    color: #9699b7;
    border-radius: 8px;
}

#entry:selected {
    background-color: #303241;
    color: #d9e0ee;
}
