/* Mocha Rosewater */
@define-color accent #f5e0dc;
@define-color txt #cad3f5;
@define-color bg #24273a;
@define-color bg2 #494d64;

/* turn colors into vars to adjust opacity */
:root {
  /* @bg in decimal RGB */
  --bg: 36, 39, 58;
  /* @bg2 in decimal RGB */
  --bg2: 73, 77, 100;
}
* {
    font-family: inconsolata nerd font;
    font-weight: bold;
    font-size: 24px;
}
/* rest same as upstream, except for opacity */
/* https://github.com/laymoth/wofi/blob/main/src/mocha/rosewater/style.css */

/* Window */
window {
    margin: 0px;
    padding: 10px;
    border: 3px solid @accent;
    border-radius: 7px;
    background-color: rgba(var(--bg), 0.95);
    animation: slideIn 0.1s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 0.95;
    }
}

/* Inner Box */
#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(var(--bg), 0.95);
    animation: fadeIn 0.1s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 0.95;
    }
}

/* Outer Box */
#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(var(--bg), 0.95);
}

/* Scroll */
#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
}

/* Input */
#input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: rgba(var(--bg2), 1);
    animation: fadeIn 0.1s ease-in-out both;
}

/* Text */
#text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.1s ease-in-out both;
}

/* Selected Entry */
#entry:selected {
   background-color: @accent;
}

#entry:selected #text {
    color: @bg;
}
