[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=guake
Name=guake
Comment[en_GB]=
Comment=
X-GNOME-Autostart-Delay=0
