[Desktop Entry]
Type=Application
Exec=redshift
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=redshift
Name=redshift
Comment[en_GB]=
Comment=
X-GNOME-Autostart-Delay=0
