
! -----------------------------------------------------------------------------
! Xterm
! -----------------------------------------------------------------------------
xterm*termName: xterm-256color
XTerm*locale: true
Xterm*saveLines: 8000

! -----------------------------------------------------------------------------
! Font settings
! -----------------------------------------------------------------------------
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
