copy_on_select true
pane_frames false
theme "catppuccin-mocha"
default_layout "compact"
show_startup_tips false
show_release_notes false

ui {
    pane_frames {
        hide_session_name true
    }
}


// we manage keybinds here mainly for a few main modifications:
// - remap hjkl binds to neio where appropriate (colemak home row == qwerty jkl;)
// - limit tab navigations to arrows or number access
// - unbind rename functionality (done via chpwd_functions for tab names, and pane frames are off)
// - disable modes: tmux, locked, entersearch, renametab, renamepane (no way into these modes)
keybinds clear-defaults=true {
    // modal binds first - excluded modes are cleared
    resize { // hjkl equivalent + arrows for resizing, nothing else
        bind "Ctrl n" { SwitchToMode "normal"; }
        bind "n" "left" { Resize "Increase left"; }
        bind "e" "down" { Resize "Increase down"; }
        bind "i" "up" { Resize "Increase up"; }
        bind "o" "right" { Resize "Increase right"; }
    }
    pane { // only arrows for pane switching
        bind "Ctrl p" { SwitchToMode "normal"; }
        bind "left" { MoveFocus "left"; }
        bind "down" { MoveFocus "down"; }
        bind "up" { MoveFocus "up"; }
        bind "right" { MoveFocus "right"; }
        bind "d" { NewPane "down"; SwitchToMode "normal"; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "p" { SwitchFocus; }
        bind "r" { NewPane "right"; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFloatingPanes; SwitchToMode "normal"; }
    }
    move { // home row + arrow keys or tab cycle - don't really use this a lot...
        bind "Ctrl h" { SwitchToMode "normal"; }
        bind "tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "n" "left" { MovePane "left"; }
        bind "e" "down" { MovePane "down"; }
        bind "i" "up" { MovePane "up"; }
        bind "o" "right" { MovePane "right"; }
    }
    tab { // numbers, left/right or tab cycle
        bind "Ctrl d" { SwitchToMode "normal"; }
        bind "left" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "tab" { ToggleTab; }
    }
    scroll { // f for editor, otherwise pgdn/pgup, up/dn, or home row (outer fastest, inner slowest)
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "f" { EditScrollback; SwitchToMode "normal"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "PageDown" "right" "o" { PageScrollDown; }
        bind "PageUp" "left" "n" { PageScrollUp; }
        bind "e" { HalfPageScrollUp; }
        bind "i" { HalfPageScrollDown; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    session {
        bind "d" { Detach; }
        bind "Ctrl o" { SwitchToMode "normal"; }
        // TODO: this was removed in migration, does it still work?
        bind "Ctrl s" { SwitchToMode "scroll"; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    // main binds that work everywhere
    shared_except "locked" { // normal mode binds; home row, movement
        bind "Ctrl g" { SwitchToMode "locked"; }
        // Carefully take arrow key binds that are not super common to avoid stealing a common helix bind
        bind "Ctrl Alt left" { MoveFocusOrTab "left"; }
        bind "Ctrl Alt down" { MoveFocus "down"; }
        bind "Ctrl Alt up" { MoveFocus "up"; }
        bind "Ctrl Alt right" { MoveFocusOrTab "right"; }
        // cheaper resize than the full resize mode (unbound - i seem to prefer resize mode)
        // NB: from pre-migration
        //bind "Alt =" "Alt +" { Resize "Increase"; }
        //bind "Alt -" { Resize "Decrease"; }
        // NB: command +- resizes term (alacritty bind)
    }
    shared_except "normal" "locked" {
        bind "esc" { SwitchToMode "normal"; }
        bind "enter" { SwitchToMode "normal"; }
    }
    // entry keys (has escape hatches out to normal again on the same keys above)
    shared_except "locked" "pane" {
        bind "Ctrl p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" {
        bind "Ctrl n" { SwitchToMode "resize"; }
    }
    shared_except "locked" "scroll" {
        bind "Ctrl s" { SwitchToMode "scroll"; }
    }
    //shared_except "session" "locked" {
    //    bind "Ctrl o" { SwitchToMode "session"; }
    //}
    shared_except "locked" "tab" {
        bind "Ctrl d" { SwitchToMode "tab"; }
    }
    shared_except "locked" "move" {
        bind "Ctrl h" { SwitchToMode "move"; }
    }
}
